<!DOCTYPE html>
<html>
  <head>
    <title>Single Page Application</title>
    <link rel='stylesheet' href='/css/base.css' />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <h1>Candidate Portal</h1>
    <form name="candidate">
      <input type="text" name="username" placeholder="name"/>
      <input type="email" name="email" placeholder="email"/>
      <input type="submit" value="Create Contact"/>
    </form>
  </body>
</html>
